@import 'bootstrap/scss/bootstrap';

.button5 {
    border-radius: 12px;
    background-image: linear-gradient(to bottom right, darkorange, red);
};

body{
    background-color: #fff7f8;
};

.card-color{
    background-color: #fae7e4;
    border-color: #fae7e4;
};

.card-border{
    border-radius: 30px;
};

.input-border{
    border-radius: 8px;
    border-color: #fae7e4;
};

.service-margin{
    margin-top: 150px;
};

.list{
    background-color: inherit;
    border-color:#fff7f8;
};

.list:hover{
    background-color:#fff2f2;
};

.join-now-button{
    border-color: #ff5c3f;
    width: 250px;
};

.register-now-button{
    background-image: linear-gradient(to bottom right, darkorange, red);
    width: 250px;
    border-color: #ff5c3f;
    border-radius: 12px;
}

.whitepage{
    background-color: white;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-top: 100px;
};

.button4{
    height: 40px;
    margin-top: 30px;
    border-radius: 15px;
    border-color: #ff5c3f;
};

.discover-button{
    border-color: #ff5c3f;
    border-radius: 10px;
    width: 200px;
};


.image-gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 
        "one one two three three"
        "one one four four five"
};

.image-gallery a{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-size: cover;
};

.image-gallery a:hover{
    background-color: #fff2f2;
    transition: opacity 1s;
    opacity: 0.5;
}

.one{
    grid-area: one;
    background-image: url("../public/longpic.jpg");
    min-height: 51.5rem;
    border-radius: 15px;
}

.two{
    grid-area: two;
    border-radius: 15px;
    background-image: url("../public/longskinny1.jpg");
}

.three{
    grid-area: three;
    border-radius: 15px;
    background-image: url("../public/shortfatpic1.jpg");
}

.four{
    grid-area: four;
    border-radius: 15px;
    background-image: url("../public/shortfatpic1.jpg");
}

.five{
    grid-area: five;
    border-radius: 15px;
    background-image: url("../public/longskinny1.jpg");
};

.round-borders{
    border-radius: 8px;
};

.mistyrose{
    background-image: url("../public/mistybackground.jpg");
    background-size: cover;
};

footer{
    background-color: white;
}


// .reviews-gallery{
//     display: grid;
//     grid-template-columns: repeat(6, 1fr);
//     grid-template-rows: auto;
//     grid-gap: .5rem;
//     grid-template-areas: 
//         "un un deux deux trois trois"
//         "quatre quatre cinq cinq six six";
//     width: 100%;
//     height: 50rem;
// };

// .reviews-gallery a{
//     width: 100%;
//     height: 25rem;
//     background-position: center;
//     background-size: cover;
// };

// .un{
//     grid-area: un;
//     background-image: url("../public/typing.jpg");
//     border-radius: 10px;
// };

// .deux{

// };

// .trois{

// };


// .cinq{

// };

// .six{

// };